.col {
    height: 100px;
    background-color: goldenrod;
    margin: 3%;
}

#city-image{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

.col-sm-2 {
    background-color: orange;
}


.col-sm {
    border: cornflowerblue solid 1px;
    height: 50px;
}



ul{
    list-style-type: none;
    padding-left: 10px;
}

.barra-nav{
    background-color: lightgray;
}

.bloco-esq img{
    height: 100px;
}

.signif-conteudo{
     background-color: lightskyblue;
}

.signif-conteudo .linha_dia span{
    display: block;

}