#city-image{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

ul{
    list-style-type: none;
    padding-left: 10px;
}

span.valor{
    margin: 25px;
}


/*-----------------------------------PÁGINA PREVISÃO SIGNIFICATIVA-----------------------------*/
.pag_prev_significativa{
    background-color: powderblue;
}

.cab_pagina{

}
.cab_pagina img{
    height: 5rem;
}

.bloco-drt h2{
    line-height: 100%;
}
.bloco-esq{
    height: 100%;
}

.previsao_dias a {
    text-decoration: none;
}

.linha_blocos a:hover{
    font-weight: bolder
}


.linha_blocos{
    padding: 0 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bloco_dia{
    width: 100%;
}

.btn_dia{
    width: 100%;
}
.signif-conteudo{
    background-color: #84cab2;
}

.lista_arg span{
    display: block;
}































































































































































































/*pagina home */
#lista_img{
    padding-bottom: 30px;
    padding-top: 30px;

}


.pag_home {

}


/*pagina favoritos*/

.img_logo {
    height: 10rem;
}
div .fav{
    position:absolute;
    top:50%;
    left:50%;
}

.btn_fav{
    background: #84cab2;
    color: powderblue;
    border: none;
}
.btn_fav  a {
    color: white;
}

.btn_fav :hover {
    color: powderblue;
    background-color: #84cab2;
}

.seta_topo{
    background: #84cab2;
}

.navbar {
    font-size: 12px !important;
    background-color: powderblue;
    border: none;
}






.glyphicon{
    font-size: 20px;
    padding-bottom: 20px;
    color: blue;
    float: right;

}



